DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_REDIRECT_URI=https://DIT-PROJEKT.vercel.app/api/auth-callback
SESSION_SECRET=

DATABASE_URL=

ROLE_ADMIN_ID=
ROLE_WHITELIST_RECEIVER_ID=
ROLE_STAFF_RESPONSIBLE_ID=
ROLE_CREATOR_RESPONSIBLE_ID=
ROLE_COMPANY_RESPONSIBLE_ID=
